In [41]:
source("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/config.r")
source("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/utils/02_percentilizar_variables.R")
source("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/utils/03_agregar_lags_dataset.R")

In [42]:
require( "data.table" )

# leo el dataset
dataset <- fread(DATASET_CLASE)

In [43]:
# Resumen clase_ternaria
setorder( dataset, foto_mes, clase_ternaria, numero_de_cliente)
dataset[, .N, list(foto_mes, clase_ternaria)]

   foto_mes clase_ternaria N
1  202101   BAJA+1            622
2  202101   BAJA+2            825
3  202101   CONTINUA       160080
4  202102   BAJA+1            831
5  202102   BAJA+2           1032
6  202102   CONTINUA       160292
7  202103   BAJA+1           1039
8  202103   BAJA+2            951
9  202103   CONTINUA       161119
10 202104   BAJA+1            955
11 202104   BAJA+2           1130
12 202104   CONTINUA       161333
13 202105                  162783
14 202105   BAJA+1           1134
15 202106                  164313

Percentiles

In [44]:
dataset <- percentilizar_variables(
  df = dataset,
  digits = 3,
  scale01 = TRUE
)

Lags y Delta Lags

In [45]:
# Agrego lags de orden 1
# Lags de orden 1 y 2 para todos los meses por cliente
dataset <- agregar_lags_dataset(
  df = dataset,
  orders = c(1),
  include_deltas = TRUE   # ponelo en FALSE si querés solo lags
)

Guardo el dataset con las modificaciones

In [46]:
fwrite(
  dataset,
  file = file.path(PATH_DATASETS, "competencia_01_features.csv.gz"),
  sep = ","
)