In [20]:
source("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/config.r")
source(PATH_UTILS)
load_utils("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/utils")

In [24]:
require( "data.table" )

source("/home/vickydiliscia/dmeyf2025/src/competencia/experimento/utils/01_clase_ternaria.R")

# leo el dataset
dataset <- fread(DATASET_CRUDO)

# Calculo clase_ternaria

dataset <- agregar_clase_ternaria(dataset)

# pego el resultado en el dataset original y grabo
setorder( dsimple, pos )
dataset[, clase_ternaria := dsimple$clase_ternaria ]

fwrite(
  dataset,
  file = file.path(PATH_DATASETS, "competencia_01.csv.gz"),
  sep = ","
)

# Resumen clase_ternaria
setorder( dataset, foto_mes, clase_ternaria, numero_de_cliente)
dataset[, .N, list(foto_mes, clase_ternaria)]

   foto_mes clase_ternaria N
1  202101   BAJA+1            622
2  202101   BAJA+2            825
3  202101   CONTINUA       160080
4  202102   BAJA+1            831
5  202102   BAJA+2           1032
6  202102   CONTINUA       160292
7  202103   BAJA+1           1039
8  202103   BAJA+2            951
9  202103   CONTINUA       161119
10 202104   BAJA+1            955
11 202104   BAJA+2           1130
12 202104   CONTINUA       161333
13 202105   NA             162783
14 202105   BAJA+1           1134
15 202106   NA             164313